<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script defer type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/77de315972.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="greeting">
      <p style="padding-top: 120px;">Hot deals right now 🔥</p>
    </div>
    <div class="item-grid">
    <% const favouritesID = []; %>
    <% const capitalize = (s) => { %>
      <%  if (typeof s !== 'string') return '' %>
      <%  return s.charAt(0).toUpperCase() + s.slice(1) %>
    <% }   %>
    <% favourites.forEach(x => favouritesID.push(x['item_id'])); %>
    <% let itemsReverse = items.reverse() %>
    <% for (let item of itemsReverse) { %>
      <% if (!item.is_sold) { %>
      <div class="item" style="background-image: url('<%= item.image_url %>')">
        <a href="http://localhost:8080/item/<%=item.id%>">
          <header>
            <p style="font-weight: bold; font-size: large">
              <%= ("$" + item.price / 100) %>
            </p>
            <% if (!item.is_sold && favouritesID.indexOf(item.id) === -1) { %>
              <i class="far fa-heart" data-item="<%= item.id %>" data-id="far-fa-heart" id="fas-fa-heart"></i>
            <% } else { %>
              <i class="fas fa-heart" data-item="<%= item.id %>" data-id="fas-fa-heart" id="fas-fa-heart"></i>
            <% } %>
          </header>
          <footer>
            <p style="font-weight: bold;">
              <%= capitalize(item.name)  %>
            </p>
          </footer>
        </a>
      </div>
    <% } }%>
    </div>
  </body>
</html>
