<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/77de315972.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <container class="search" style="display: flex; flex-direction: column; justify-content: center;">
      <div style="align-items: center;"><form method="GET" action="/search" id="filter-form" style="display: flex; flex-direction: column; justify-content: center;">
        <label>Price (Excludes Taxes)</label>
        <label>Min</label>
        <input type="number" name="minPrice" id="min-price"></input>
        <label>Max</label>
        <input type="number" name="maxPrice" id="max-price"></input>
        <input type="hidden" name="itemName" value=<%= itemName %>>
        <input type="hidden" name="categories" value=<%= categories %>>
        <button type="submit" value="submit" id="search-submit">Filter</button>
      </form></div>
      <div class="item-grid-search">
        <% for (let item of items) { %>
          <% if (!item.is_sold ) { %>
          <% const capitalize = (s) => { %>
          <%  if (typeof s !== 'string') return '' %>
          <%  return s.charAt(0).toUpperCase() + s.slice(1) %>
          <% }   %>
          <div class="item" style="background-image: url('<%= item.image_url %>')">
            <a href="http://localhost:8080/item/<%=item.id%>"><header><p style="font-weight: bold; font-size: large"><%= ("$" + item.price / 100) %></p><i class="far fa-heart" data-item="<%= item.id %>" data-id="far-fa-heart" id="fas-fa-heart"></i></header><footer><p style="font-weight: bold;"><%= capitalize(item.name) %></p></footer></a>
          </div>
        <% } else { %>
          <% const capitalize = (s) => { %>
          <%  if (typeof s !== 'string') return '' %>
          <%  return s.charAt(0).toUpperCase() + s.slice(1) %>
          <% }   %>
          <div class="item" style="background-image: url('<%= item.image_url %>')">
            <a href="http://localhost:8080/item/<%=item.id%>"><header><p style="font-weight: bold; font-size: large"><%= ("$" + item.price / 100) %></p><i class="fas fa-heart" data-item="<%= item.id %>" data-id="fas-fa-heart" id="fas-fa-heart"></i></header><footer><p style="font-weight: bold;"><%= capitalize(item.name) %></p></footer></a>
          </div>
        <% } }%>
        </div>
    </container>
  </body>
</html>
